<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Rottnest Fast Ferries</title>
  <meta name="description" content="Book your Trip with Rottnest Fast Ferries">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:title" content="Select Luggage - Rottnest Fast Ferries">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="apple-touch-icon" sizes="180x180" href="../img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <!-- Place favicon.ico in the root directory -->


  <!-- Fonts-->
  <link rel="stylesheet" href="https://use.typekit.net/lgz4anw.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
    integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

  <!-- Stylesheets-->
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" type="text/css" href="../css/daterangepicker.css" />
  <link rel="stylesheet" type="text/css" href="../css/jquery-ui.min.css" />
  <link rel="stylesheet" href="../css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/vue-select.css" />

  <link rel="stylesheet" href="../css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


  <meta name="theme-color" content="#fafafa">
</head>

<body>

  <!-- Header -->
  <div class="site-header">
    <nav
      class="navbar container flex-row align-items-center justify-content-between pt-3 px-md-4 color-white bottom-wave box-shadow">

      <button id="navToggle" class="custom-toggle navbar-toggler" type="button">
        <i class="text-white fas fa-bars"></i>
      </button>

      <a class="my-0 mr-md-auto mb-sm-2 logo-wrapper" href="../index.html" aria-label="Product">
        <img class="logo mx-auto" src="../img/Rottnest-Fast-Ferries_logo.png" alt="Rottnest Fast Ferries Logo">
      </a>

      <div class="dropdown">
        <a class="p-2 text-white dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false"><i class="ml-2 mr-2 fas fa-sign-in-alt d-none d-sm-inline-block"></i>Log in</a>
        <div class="dropdown-menu dropdown-menu-right text-dark" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark" href="#"><i class="fas fa-user mr-2"></i>Customer Login</a>
          <a class="dropdown-item text-dark" href="#"><i class="demo-icon agent-icon mr-2"></i>Agent Login</a>
        </div>
      </div>

      <!-- Navigation-->
      <div id="navbarNav" class="sidenav">
        <button class="closeBtn"><i class="fas fa-times"></i></button>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class=" p-2 text-white nav-item nav-link " href="#"><i
                class="ml-2 mr-2 icon demo-icon gift-card-icon"></i>Gift Cards</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Main -->
  <main id="app" class="body-wrapper wizard">

    <div class="container">
      <!-- Search Header -->
      <section class="search-header py-lg-4 py-2 text-center">
        <h1>Rottnest Ferries</h1>
        <a href="../index.html" class="edit-search">Change Search<i class="fas fa-pencil-alt ml-2"></i></a>
      </section>

      <!-- Steps Guide -->
      <section class="booking-navigation py-lg-4 py-2">
        <div class="d-flex flex-row step-groups">
          <a href="select-ferries.html" class="p-2 step step-5 completed">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
              <div class="d-md-block d-none step-jumbo mr-2">1</div>
              <div class="text-uppercase step-title">
                <i class="demo-icon ferry-icon"> </i> <br>
                Ferries
              </div>
            </div>
          </a>

          <a href="#" class="p-2 step step-5 active">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
              <div class="d-md-block d-none step-jumbo mr-2">2</div>
              <div class="text-uppercase step-title">
                <i class="demo-icon packages-icon"></i> <br>
                Luggage
              </div>
            </div>
          </a>

          <a href="#" class="p-2 step step-5 disabled">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
              <div class="d-md-block d-none step-jumbo mr-2">3</div>
              <div class="text-uppercase step-title">
                <i class="demo-icon extras-icon"></i> <br>
                Extras
              </div>
            </div>
          </a>

          <a href="#" class="p-2 step step-5 disabled">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
              <div class="d-md-block d-none step-jumbo mr-2">4</div>
              <div class="text-uppercase step-title">
                <i class="fas fa-user "></i> <br>
                Passenger Details
              </div>
            </div>
          </a>

          <a href="#" class="p-2 step step-5 disabled">
            <div class="d-flex flex-md-row flex-column align-items-center justify-content-center">
              <div class="d-md-block d-none step-jumbo mr-2">5</div>
              <div class="text-uppercase step-title">
                <i class="demo-icon dollar-icon"></i> <br>
                Payment
              </div>
            </div>
          </a>
        </div>
      </section>

      <!-- Step 2: Luggage-->
      <section class="luggage-options py-3">
        <div class="row">
          <div class="col-lg-9 col-md-8 pb-3">
            <h2>Luggage & Freight</h2>
            <p class="instruction"> Is there <span class="bold">anything of yours </span> that you would like to take?
            </p>

            <div class="card">
              <div class="card-header"> Standard Luggage </div>
              <div class="card-body">
                <p> You can opt to have your luggage delivered to your Rottnest Island accommodation on your behalf.
                  Each item for delivery needs to be labelled, however there is no charge or label required for carry-on
                  luggage.</p>

                <div class="d-flex flex-row flex-wrap align-items-center justify-content-end">

                  <div class="cta-card-item card-price">$3.00/item </div>

                  <button class="btn btn-green btn-xs cta-card-item" data-toggle="modal" data-target="#addLuggage"
                    data-backdrop="static" id="addLuggageTrigger"> Add Luggage</button>

                  <button id="removeLuggage" type="button" class="cta-card-item btn btn-xs btn-remove"
                    v-on:click="removeLuggage">Remove Luggage</button>
                </div>

              </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addLuggage" tabindex="-1" role="dialog" aria-labelledby="addLuggage"
              aria-hidden="true">
              <div id="accommodationModal" class="modal-dialog  modal-lg" role="document">
                <div class="modal-content">
                  <form>
                    <div class="modal-header">
                      <h4 class="modal-title">Luggage & Accommodation Details</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="light">
                        <p> Please note there is a weight limit of 22kg per item of luggage for delivery. Items weighing
                          more than this will not be delivered to your accommodation, and you will need to collect them
                          from the
                          Rottnest Island Visitor Centre.</p>

                        <p>On the day of departure, you will need to collect your luggage labels from our office at
                          Hillarys
                          Boat Harbour. To assist in transporting your luggage to your accommodation, please ensure
                          that:</p>
                        <ol>
                          <li> All items are labelled.</li>
                          <li> Valuables and medication are stored in your carry-on luggage (not checked for delivery).
                          </li>
                        </ol>
                        <p>Please remember that craypots, golf clubs/buggies, fishing rods, diving equipment, surfboards
                          and
                          bikes will NOT be delivered to your accommodation. You will need to collect these directly
                          from the
                          ferry upon your arrival to Rottnest Island."</p>
                      </div>

                      <p>Please add your accommodation details to ensure that your luggage is delivered to your room.
                      </p>
                      <div class="form-group spinner py-2 required">
                        <label for="luggageQuantity">Luggage Quantity</label>
                        <input type="number" id="luggageQuantity" name="luggageQuantity"
                          class="form-control number-input" value="0" min="1" required>
                      </div>

                      <div class="form-group required">
                        <label for="accomodation">Accommodation Name</label>
                        <select id="accommodation" name="accommodation" class="form-control" required
                          v-model="selectedAccommodation" @change="onChange">
                          <option disabled value="">Select an accommodation</option>
                          <option v-for="(accommodation, index) in accommodations" v-bind:value="accommodation.value">
                            {{accommodation.title }}</option>
                        </select>
                      </div>
                      <!--  --------------------------
                        ** Only show the item, when the accommodation requires item. So, DO NOT show item for barracks, discovery parks Rottnest, hostel, Karma Rottnest, because they do not have item!!!  
                        ** Make sure that the scroll bar always visible when there is overflow options */
                      -------------------  -->
                      <template v-for="(accommodation, index) in accommodations">
                        <div v-if="accommodation.value == selectedAccommodation" class="form-group required">
                          <label for="accomodationUnit" v-if="accommodation.units">Accommodation Unit</label>
                          <v-select :options="accommodation.units" v-model="unitSelected" v-if="accommodation.units"
                            :clearable="false" placeholder="Select a item in your accommodation">
                          </v-select>
                        </div>
                      </template>

                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="luggageTerms">
                        <label for="luggageTerms">I acknowledge the terms above</label>
                      </div>

                    </div>

                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-cancel" data-dismiss="modal">CANCEL</button>
                      <button id="saveLuggage" type="button" class="btn btn-sm btn-primary"
                        :disabled="happyClick">SAVE</button>
                      <button id="updateLuggage" type="button" class="btn btn-sm btn-primary"
                        style="display:none;">UPDATE</button>
                    </div>

                  </form>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-8">
                    <div class="row">
                      <div class="col-md-7 col-12">
                        Take with you:
                      </div>
                      <div class="col-md-5 d-none d-md-block text-right">
                        Cost per item
                      </div>
                    </div>
                  </div>
                  <div class="col-4 text-right d-none d-md-block">
                    Quantity
                  </div>
                </div>
              </div>

              <div class="card-body freight">
                <div class="row card-body-item">
                  <div class="col-8">
                    <div class="row">
                      <div class="col-md-7">
                        Bike
                      </div>
                      <div class="col-md-5 cost text-right">
                        <span class="money-currency">$</span><span class="money-value">15.00</span><span
                          class="d-md-none meassure">/item</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 text-right">
                    <input name="bike" type="number" class="form-control number-input bike-luggage" value="0">
                  </div>
                </div>

                <div class="row card-body-item">
                  <div class="col-8">
                    <div class="row">
                      <div class="col-md-7">
                        Surfboard
                      </div>
                      <div class="col-md-5 cost text-right">
                        <span class="money-currency">$</span><span class="money-value">10.00</span><span
                          class="d-md-none meassure">/item</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 text-right">
                    <input name="surfboard" type="number" class="form-control number-input surfboard-luggage" value="0">
                  </div>
                </div>

                <div class="row card-body-item">
                  <div class="col-8">
                    <div class="row">
                      <div class="col-md-7">
                        Kayaks/Skis/SUP
                      </div>
                      <div class="col-md-5 cost text-right">
                        <span class="money-currency">$</span><span class="money-value">25.00</span><span
                          class="d-md-none meassure">/item</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 text-right">
                    <input name="kayaks" type="number" class="form-control number-input kayak-luggage" value="0">
                  </div>
                </div>

                <div class="row card-body-item">
                  <div class="col-8">
                    <div class="row">
                      <div class="col-md-7">
                        Dive Tank/Cray Pot
                      </div>
                      <div class="col-md-5 cost text-right">
                        <span class="money-currency">$</span><span class="money-value">10.00</span><span
                          class="d-md-none meassure">/item</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 text-right">
                    <input name="divetank" type="number" class="form-control number-input tank-luggage" value="0">
                  </div>
                </div>

                <div class="row card-body-item">
                  <div class="col-8">
                    <div class="row">
                      <div class="col-md-7">
                        Electric/Tandem Bike Freight
                      </div>
                      <div class="col-md-5 cost text-right">
                        <span class="money-currency">$</span><span class="money-value">25.00</span><span
                          class="d-md-none meassure">/item</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-4 text-right">
                    <input name="tandem" type="number" class="form-control number-input tandem-luggage" value="0">
                  </div>
                </div>



              </div>
            </div>

          </div> <!-- col-md-9-->

          <div class="col-lg-3 col-md-4">
            <div class="booking-summary-wrapper">
              <h2> Booking Summary</h2>
            </div>
            <div id="accordionExample" class="summary-accordion">
              <div class="card">
                <div class="card-header"><button type="button" data-toggle="collapse" data-target="#admissionFee"
                    aria-expanded="true" aria-controls="admissionFee" class="btn btn-link"><i
                      class="demo-icon icon-title icon-ticket"></i>
                    Admission Fee <i data-toggle="tooltip" title="" data-placement="top" tab-index="0"
                      data-original-title="The entrance fee to an A-Class nature reserve and contributes to the conservation of the island. This is a government tax payable by all visitors to the island and is collected by the ferry companies on behalf of the Rottnest Island Authority"
                      class="demo-icon icon-awesome-info-circle-icon ml-2 text-white"></i>
                    <div class="icon-toggle"><i class="fas fa-chevron-up"></i></div>
                  </button></div>
                <div id="admissionFee" aria-labelledby="admissionFee" class="booking-body collapse show">
                  <table class="booking-table">
                    <tbody class="summary-item">
                      <tr>
                        <td class="table-item item-pass">Adult (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="adult-price" class="money-value">19.50</span></td>
                      </tr>
                      <tr>
                        <td class="table-item item-pass">Kid (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="child-price" class="money-value">7.00</span></td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="line"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-item item-subtotal item-last">Subtotal </td>
                        <td class="table-item item-price item-subtotal item-last"><span
                            class="money-currency">$</span><span class="money-value">26.50</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card">
                <div class="card-header"><button type="button" data-toggle="collapse" data-target="#ferries"
                    aria-expanded="true" aria-controls="ferries" class="btn btn-link collapsed"><i
                      class="demo-icon icon-title ferry-icon"></i>
                    Ferries
                    <div class="icon-toggle"><i class="fas fa-chevron-up"></i></div></button></div>
                <div id="ferries" aria-labelledby="ferries" class="booking-body collapse show">
                  <table class="booking-table">
                    <tbody class="summary-item">
                      <tr>
                        <td colspan="2" class="table-item item-heading">Hillarys to Rottnest Ferry Ticket</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="table-item item-subheading">Sun, 03 Jan 2021 <span
                            class="write-depart-time"> - 7:30am</span></td>
                      </tr>
                      <tr class="temp-departure-show" style="display: table-row;">
                        <td colspan="2" class="table-item item-fare-type item-depart-fare-type"><span
                            class="quokka-saver">Quokka Saver</span></td>
                      </tr>
                      <tr class="temp-departure-show" style="display: table-row;">
                        <td class="table-item item-pass">Adult (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="adult-price" class="money-value">27.00</span></td>
                      </tr>
                      <tr class="temp-departure-show" style="display: table-row;">
                        <td class="table-item item-pass">Child (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="child-price" class="money-value">18.00</span></td>
                      </tr>
                      <tr class="temp-departure-show" style="display: table-row;">
                        <td colspan="2">
                          <div class="line"></div>
                        </td>
                      </tr>
                      <tr class="temp-departure-show" style="display: table-row;">
                        <td class="table-item item-subtotal item-last">Subtotal</td>
                        <td class="table-item item-price item-subtotal item-last"><span
                            class="money-currency">$</span><span class="money-value">45.00</span></td>
                      </tr>
                    </tbody>
                    <tbody class="summary-item">
                      <tr>
                        <td colspan="2" class="table-item item-heading">Rottnest to Hillarys Ferry Ticket</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="table-item item-subheading">Tue, 05 Jan 2021 <span
                            class="write-return-time"> - 10:00am</span></td>
                      </tr>
                      <tr class="temp-return-show" style="display: table-row;">
                        <td colspan="2" class="table-item item-fare-type item-return-fare-type"><span
                            class="everyday-fare">Everyday Fare</span></td>
                      </tr>
                      <tr class="temp-return-show" style="display: table-row;">
                        <td class="table-item item-pass">Adult (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="adult-price" class="money-value">34.50</span></td>
                      </tr>
                      <tr class="temp-return-show" style="display: table-row;">
                        <td class="table-item item-pass">Child (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="child-price" class="money-value">20.50</span></td>
                      </tr>
                      <tr class="temp-return-show" style="display: table-row;">
                        <td colspan="2">
                          <div class="line"></div>
                        </td>
                      </tr>
                      <tr class="temp-return-show" style="display: table-row;">
                        <td class="table-item item-subtotal item-last">Subtotal</td>
                        <td class="table-item item-price item-subtotal item-last"><span
                            class="money-currency">$</span><span class="money-value">55.00</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card temp-bus-show" style="display: block;">
                <div class="card-header"><button type="button" data-toggle="collapse" data-target="#bus"
                    aria-expanded="true" aria-controls="bus" class="btn btn-link"><i
                      class="demo-icon icon-title icon-bus"></i>
                    Bus pickup
                    <div class="icon-toggle"><i class="fas fa-chevron-down"></i></div></button></div>
                <div id="bus" aria-labelledby="bus" class="booking-body collapse show">
                  <table class="booking-table">
                    <tbody class="summary-item">
                      <tr>
                        <td colspan="2" class="table-item item-subheading print-pickup-point">Coolibah Lodge - 6:20am
                        </td>
                      </tr>
                      <tr>
                        <td class="table-item item-pass">Adult (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="adult-price" class="money-value">0.00</span></td>
                      </tr>
                      <tr>
                        <td class="table-item item-pass">Child (x1)</td>
                        <td class="table-item item-pass-price"><span class="money-currency">$</span><span
                            data-attribute="child-price" class="money-value">0.00</span></td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="line"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-item item-subtotal item-last">Subtotal</td>
                        <td class="table-item item-price item-subtotal item-last"><span
                            class="money-currency">$</span><span class="money-value">0.00</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <button type="button" data-toggle="collapse" data-target="#luggage" aria-expanded="true"
                    aria-controls="luggage" class="btn btn-link">
                    <i class="demo-icon icon-title packages-icon"></i>
                    Luggage
                    <div class="icon-toggle">
                      <i class="fas fa-chevron-down"></i>
                    </div>
                  </button>
                </div>
                <div id="luggage" aria-labelledby="luggage" class="booking-body collapse show">
                  <table class="booking-table">
                    <tbody class="summary-item">
                      <tr class="temp-luggage-show">
                        <td class="table-item item-pass">
                          Standard Luggage (x<span class="print-luggage-quantity"></span>)
                        </td>
                        <td class="table-item item-pass-price print-luggage-price">
                          <span class="money-currency">$</span><span class="money-value">0.00</span>
                        </td>
                      </tr>
                      <tr class="bike-luggage-show temp-hide" style="display: none;">
                        <td class="table-item item-pass">
                          Bike (x<span class="print-bike-quantity">0</span>)
                        </td>
                        <td class="table-item item-pass-price print-bike-price">
                          <span class="money-currency">$</span><span class="money-value">0.00</span>
                        </td>
                      </tr>
                      <tr class="surfboard-luggage-show temp-hide">
                        <td class="table-item item-pass">Surfboard (x<span class="print-surfboard-quantity"></span>)
                        </td>
                        <td class="table-item item-pass-price print-surfboard-price"><span
                            class="money-currency">$</span><span class="money-value">0.00</span></td>
                      </tr>
                      <tr class="kayaks-luggage-show temp-hide">
                        <td class="table-item item-pass">Kayaks/Skis/SUP (x<span class="print-kayaks-quantity"></span>)
                        </td>
                        <td class="table-item item-pass-price print-kayaks-price"><span
                            class="money-currency">$</span><span class="money-value">0.00</span></td>
                      </tr>
                      <tr class="divetank-luggage-show temp-hide">
                        <td class="table-item item-pass">Dive Tank/Cray Pot(x<span
                            class="print-divetank-quantity"></span>)</td>
                        <td class="table-item item-pass-price print-divetank-price"><span
                            class="money-currency">$</span><span class="money-value">0.00</span></td>
                      </tr>
                      <tr class="tandem-luggage-show temp-hide">
                        <td class="table-item item-pass">Electric/Tandem Bike Freight(x<span
                            class="print-tandem-quantity"></span>)</td>
                        <td class="table-item item-pass-price print-tandem-price"><span
                            class="money-currency">$</span><span class="money-value">0.00</span></td>
                      </tr>
                      <tr class="no-booking active">
                        <td colspan="2" class="table-item pt-1">No Item Selected</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="line"></div>
                        </td>
                      </tr>
                      <tr>
                        <td class="table-item item-subtotal item-last">Subtotal</td>
                        <td class="table-item item-price item-subtotal item-last"><span
                            class="money-currency">$</span><span class="money-value">0.00</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <button type="button" data-toggle="collapse" data-target="#coupon" aria-expanded="true" aria-controls="coupon" class="btn btn-link collapsed"><i class="icon-title fas fa-tag"></i>
                    Coupon Discount
                    <div class="icon-toggle">
                      <i class="fas fa-chevron-up"></i>
                    </div>
                  </button>
                </div>
                <div id="coupon" aria-labelledby="ferries" class="booking-body collapse show">
                  <table class="booking-table">
                    <tbody class="summary-coupon active">
                      <tr>
                        <td class="table-item item-last item-heading">
                          Coupon Code
                        </td>
                        <td id="couponRemove" class="table-item item-last text-right item-heading"><button
                            id="removeCouponBtn" class="btn btn-primary btn-xs" style="">Remove</button></td>
                      </tr>
                      <tr class="coupon-input-row" style="display: none;">
                        <td colspan="2" class="table-item coupon-input-col form-group item-last"><span
                            class="input-group"><input type="text" id="couponInput" placeholder="Coupon Code"
                              aria-label="Coupon Code" aria-describedby="Coupon Code"
                              class="text-uppercase form-control"> <button id="couponBtn"
                              class="btn btn-primary btn-xs">Apply</button></span></td>
                      </tr>
                      <tr>
                        <td colspan="2" class="coupon-bg">
                          <table class="coupon-table">
                            <tbody>
                              <tr>
                                <td class="table-item coupon-input-col form-group item-last"><span
                                    class="coupon-code">HAPPYDAY</span></td>
                                <td class="table-item item-last item-coupon-btn item-price"> <span
                                    class="money-currency">-$</span><span class="money-value">12.65</span></td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="grand-total">
                <table class="booking-table">
                  <tbody>
                    <tr>
                      <td class="table-item item-total">Current Total</td>
                      <td class="table-item item-total item-price"><span class="money-currency">$</span> <span
                          class="money-value">113.85</span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>


        </div>
      </section>



    </div>
  </main>

  <div class="cta-wrapper">
    <div class="container">
      <div class="cta-row">
        <div class="cta-item">
          <a href="select-ferries.html" class="back-btn"><i class="fas fa-chevron-left mr-1"></i>Back</a>
        </div>

        <div class="cta-item cta-total text-uppercase text-center">
          Current total : <span class="cta-current-total"><span class="money-currency">$</span>
            <span class="money-value">113.85</span></span>
        </div>
        <div class="cta-item cta-button text-md-right text-center">
          <a class="btn cta-btn" href="select-extras.html">Continue to Extras</a>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="container">
      <nav class="footer-nav">
        <a href="/contact-us" target="_blank"> Need Help? Contact us </a>
        <a href="/term-conditions" target="_blank"> Terms & Conditions </a>
      </nav>
    </div>
  </footer>

  <div class="modal fade" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">OKAY</button>
        </div>
      </div>
    </div>
  </div>


  <!-- JS Added -->
  <script src="../js/vendor/modernizr-3.11.2.min.js"></script>
  <script src="../js/vendor/jquery-3.5.1.min.js"></script>
  <script src="../js/vendor/jquery-ui.min.js"></script>
  <script src="../js/vendor/vue-select.js"></script>
  <script src="../js/vendor/popper.min.js"></script>
  <script src="../js/vendor/moment.min.js"></script>
  <script src="../js/vendor/daterangepicker.min.js"></script>
  <script src="../js/vendor/bootstrap.min.js"></script>


  <!-- JS Added -->
  <script src="../js/main.js"></script>


</body>

</html>